.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.homeTopBG{
  background-image: url(/src/assets/images/homeTopBG.png);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vw;
}

.homeBottomBG{
  background-image: url(/src/assets/images/homeBottomBG.png);
  background-size: 60vw;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MobHomeTwoBG{
  background-image: url(/src/assets/images/mobP2BGBig.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 100vh;
  /* background-size: 115vw; */
  background-color: #410D7F;
}

.soText{
  text-shadow: -1.3px 0 #FD4938, 0 1.3px #FD4938, 1.3px 0 #FD4938, 0 -1.3px #FD4938;
  /* font-family: sans; */
}

.mobHomeThreeBG{
  background-image: url(/src/assets/images/mobHomeThreeBG-2.png);
  background-size: 90vh;
  background-repeat: no-repeat;
  background-position: center;

  /* background-size: 115vw; */
  background-color: #410D7F;
}

.cont{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.sec{
  scroll-snap-align: start;
  height: 100vh;
}

/* width */
.csb::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.csb::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
.csb::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}

.transitionH2Bg{
  transition: background-color 1.5s;
  
}


.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.page > div {
  touch-action: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* overflow-y: scroll; */
  /* -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */