.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
 
transform-origin: center;
-webkit-transform-origin: center;
  perspective: 800px;
  -webkit-perspective: 800px;

   
  /* min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available; */
}

.homeTopBG{
  background-image: url(/src/assets/images/homeTopBG.png);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vw;
}

.homeBottomBG{
  background-image: url(/src/assets/images/homeBottomBG.png);
  background-size: 60vw;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MobHomeTwoBG{
  background-image: url(/src/assets/images/mobP2BGBig.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 100vh;
  /* background-size: 115vw; */
  background-color: #410D7F;
}

.soText{
  text-shadow: -1.3px 0 #FD4938, 0 1.3px #FD4938, 1.3px 0 #FD4938, 0 -1.3px #FD4938;
  /* font-family: sans; */
}

.mobHomeThreeBG{
  background-image: url(/src/assets/images/mobHomeThreeBG-2.png);
  background-size: 90vh;
  background-repeat: no-repeat;
  background-position: center;

  /* background-size: 115vw; */
  background-color: #410D7F;
}

.cont{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.sec{
  scroll-snap-align: start;
  height: 100vh;
}

/* width */
.csb::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.csb::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
.csb::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}

.transitionH2Bg{
  transition: background-color 1.5s;
  
}


.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.page > div {
  touch-action: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.swiper {
  width: 100%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
  /* overflow-y: scroll; */
  /* -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-pagination {
  position: absolute;
  /* top: 55%; */
  top: 85%;
  /* text-align: right !important;s */
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  z-index: 10;
  width: fit-content;
  height: fit-content;
}


/* .home1{
  min-height: 100vh;           
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
} */


.cssanimation, .cssanimation span {
  animation-duration: 1.5s; 
  /* delay in display on ios */
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to { opacity: 1 }
}
@-webkit-keyframes fadeInBottom {
  from {
      -webkit-opacity: 0;
      -webkit-transform: translateY(100%);
  }
  to { -webkit-opacity: 1 }
}


/* try */

@keyframes slideInUpz {
  from {
   transform: translate2d(0, 100%);
    transform: translate2d(0, 100%);
    visibility: visible;
  }

  to {
    transform: translate2d(0, 0);
     
  }
}

@-webkit-keyframes slideInUpz {
  from {
    -webkit-transform: translate2d(0, 100%);
    -webkit-transform: translate2d(0, 100%);
    -webkit-visibility: visible;
  }

  to {
    -webkit-transform: translate2d(0, 0);
    
  }
}
.slideInUpz {
  -webkit-animation-name: slideInUpz;
  animation-name: slideInUpz;
  
}
/* 
@keyframes fadeInDownBigz {
  from {
    opacity: 0;
    
    transform: translate3d(0, -2000px);
  }

  to {
    opacity: 1;
    
    transform: translate3d(0, 0);
  }
}


@-webkit-keyframes fadeInDownBigz {
  from {
    -webkit-opacity: 0;
     
    -webkit-transform: translate3d(0, -2000px);
  }

  to {
    -webkit-opacity: 1;
    -webkit-transform: translate3d(0, 0);
     
  }
}
.fadeInDownBigz {
  -webkit-animation-name: fadeInDownBigz;
  animation-name: fadeInDownBigz;
} */
/* try css bundle animate.css */