.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.homeTopBG{
  background-image: url(/src/assets/images/homeTopBG.png);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vw;
}

.homeBottomBG{
  background-image: url(/src/assets/images/homeBottomBG.png);
  background-size: 60vw;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MobHomeTwoBG{
  background-image: url(/src/assets/images/mobP2BGBig.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 100vh;
  /* background-size: 115vw; */
  background-color: #410D7F;
}

.soText{
  text-shadow: -1.3px 0 #FD4938, 0 1.3px #FD4938, 1.3px 0 #FD4938, 0 -1.3px #FD4938;
  /* font-family: sans; */
}

.mobHomeThreeBG{
  background-image: url(/src/assets/images/mobHomeThreeBG-2.png);
  background-size: 90vh;
  background-repeat: no-repeat;
  background-position: center;

  /* background-size: 115vw; */
  background-color: #410D7F;
}

.cont{
  /* scroll-snap-type: y none;
  overflow-y: scroll; */
  /* height: 100vh; */
}

.sec{
  scroll-snap-align: start;
  /* height: 100vh; */
}

/* width */
.csb::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.csb::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
.csb::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}

.transitionH2Bg{
  transition: background-color 1.5s;
  
}